<br>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">SellYourFurniture.com <br>Sell Your Furniture is all about you. Our aim is to empower
                    every person in the country to independently connect with buyers and sellers online. We care about you
                    — and the transactions that bring you closer to your dreams. Want to buy your home Furniture? We’re here
                    for you. Want to sell your old Furniture or a new Furniture? We’re here for you. . At Sell Your Furniture, you can buy, sell anything you can think of.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Popular Categories</h6>
                Bed , Beds By Design , Sofa Set , Wooden Sofa , Sofa , Sofa Cum Bed , Double Bed , Single Bed , Queen Size Bed , King Size,Bed , Chair , Table , Study Table , Study Chair , Wardrobe , Chest of Drawers , Futon , Loveseat , Dining
                Table , Dining Chair , Bookshelves , Office Furniture , Office
                Table , TV Cupboard , TV Shoe Case , TV Stand
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/contactus">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">All Rights Reserved by
                    <a href="#">MGD Services private limited</a>.
                </p>
            </div>

        </div>
    </div>
