.glyphicon{
    padding-left: 6px;
    padding-right: 6px;
}
tr:hover{
box-shadow: 0px 0px 2px grey;
cursor: pointer;
}
.btn:hover{
    background-color: rgb(20, 20, 20);
    color:white;
}
#errorPage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90px;
    height: 90px;
    margin-left: 0px;
}
.btn
{
  color: white;
}
@media  (min-width: 360px) and (max-width: 640px)
  {
.table{
width: 760px;

}

  }
  @media  (min-width: 768px) and (min-height:1024px)
  {.table{
    width: 660px;
    }

.col-lg-2, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
 // position: relative;
  //min-height: 1px;
 // padding-right: 15px;
  //padding-left: 15px;
  margin-top: 220px;
 // margin-right: 10px;
}
}

